:root {
    --color-primary: #ff5a5f;
    --color-secondary: #24324a;
    --background-gray: #F7F7F7;
    --font-family: 'Nunito', sans-serif;
}

* {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-gray);
}

.container {
    width: 90%;
    margin: 40px auto;
    color: #333;
    padding: 20px;
}

.details h2 {
    text-align: left;
    font-size: 14px;
    color: #697995;
}

.details h2 a {
    color: var(--color-primary);
}


.details h1 {
    font-size: 24px;
    margin: 10px 0 20px;
    color: black;
}

.blog-header {
    position: relative;
    margin-bottom: 20px;
}

.tag {
    background-color: var(--color-primary);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 10px;
}

.blog-title {
    font-size: 30px;
    margin: 10px 0;
    color: var(--color-secondary);
}

.blog-header .date {
    color: #666;
    font-size: 14px;
    margin-top: 10px;
}


.blog-image img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}

.blog-content p {
    font-size: 16px;
    color: #333;
    line-height: 1.6;
    margin-bottom: 20px;
}

.blog-content h3 {
    font-size: 24px;
    margin: 20px 0 10px;
    color: var(--color-secondary);
}

.blog-details {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 992px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }
}